body{
    background-color: black;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_nav{
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.sidebar_nav .logo{
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}
.sidebar ul li {
    padding: 10px 0;
}
.sidebar nav ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}
.logo img {
    width: 80px;
}
/* From Uiverse.io by SteveBloX */
.carousel{
    margin:0 auto;
    padding: 20px 0;
    max-width: 700px;
    overflow: hidden;
    display: flex;
} 
.card {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    &:nth-child(1){
        background: #5d34f2;
    }
    &:nth-child(2){
        background: #5d34f2;
    }
    &:nth-child(3){
        background: #5d34f2;
    }
    &:nth-child(4){
        background: #5d34f2;
    }
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  section{
    display:flex;
    flex-wrap: nowrap;
    gap:10px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation: scrolling 10s linear infinite;
  }
  .carousel{
    margin: 0 auto;
    padding: 20px 0;
    max-width: 700px;
    overflow: hidden;
    display: flex;
    flex: 0 0 100%;
    &:hover .group{
        animation-play-state: paused;
    }
  }
  .group {
    display: flex;
    gap: 20px;
    padding: 20px;
    will-change: transform;
    padding-right: 20px;
    animation: scrolling 10s linear infinite;
  }
  @keyframes scrolling{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
  }