
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 11px;
}
    
.div1 {
    grid-column: span 5 / span 5;
}

.div2 {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 2;
}

.div3 {
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;
}

.div4 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 2;
}

.div5 {
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 2;
}

.div6 {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 2;
}

.div7 {
    grid-column: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 5;
}

.div8 {
    grid-row: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 1;
}

.div9 {
    grid-row: span 3 / span 3;
    grid-column-start: 6;
    grid-row-start: 3;
}
        